# LangChain
langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai
tiktoken

# Environment Variable Management
python-dotenv

# Streamlit for UI
streamlit

# Youtube api
youtube-transcript-api

# Detect language of transcript
langdetect

# vector store
faiss-cpu